<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<style type="text/css">
    {{&styles}}
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(function(){

        var reportId = "{{id}}";

        $("h2 a").click(function(e){
            e.preventDefault();
            var $this   = $(this);
            var parent  = $this.parent().parent();
            parent.toggleClass("closed");

            // On the close, close all of the children
            if (parent.hasClass("closed")){
                parent.find(".wrapper").addClass("closed");
            }
            //$this.html(parent.hasClass("closed") ? "Open" : "Close");

            // Save the open sections
            if (history.pushState) {
                var openArr = [];
                $(".suite, .spec").each(function(index, item){
                    var $el = $(item);
                    if (!$el.hasClass("closed")){
                        openArr.push($el.attr("id"));
                    }
                });

                openArr.sort();
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
                if (openArr.length > 0){
                    newurl += "?open=" + openArr.join(",") + "&reportId=" + reportId;
                }
                window.history.pushState({path:newurl}, "", newurl);
                //console.log("setting new url: ", newurl);
            }
        });

        // On page load open certain sections
        var urlReportId = getQueryValue("reportId");
        var open        = getQueryValue("open");
        if (urlReportId == reportId && open != null){
            var openArr = open.split(",");
            var jqStr   = "";
            for (var p = 0; p < openArr.length; p++) {
                if (p > 0) jqStr += ", ";
                jqStr += "#" + openArr[p];
            }
            //console.log("Removing closed class from: " + jqStr);
            $(jqStr).removeClass("closed");
        }
        // Clear url for new report
        else if ((urlReportId != null || open != null) && urlReportId != reportId){
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
            window.history.pushState({path:newurl}, "", newurl);
        }

        function getQueryValue(name){
            var result = null;
            var location = window.location.href;
            if (location.indexOf("?") != -1){
                var query       = location.split("?")[1];
                var sections    = query.split("&");
                for (var i = 0; i < sections.length; i++) {
                    var keyVal  = sections[i].split("=");
                    if (keyVal[0] == name){
                        result = keyVal[1];
                        break;
                    }
                }
            }
            return result;
        }
    })
</script>