<!DOCTYPE html>
<html lang="en">
<head>
    <title>Latest Redirect</title>

    <script type="text/javascript">
        window.location = "{{latestReportName}}";
    </script>
</head>
<body>

</body>
</html>