{{#implementationErrorCount}}<span class="imp-error">{{implementationErrorCount}} Test Implementation Problem(s), </span>{{/implementationErrorCount}}{{passedCount}} Passed, {{failedCount}} Failed{{#notRunCount}}, {{notRunCount}} Not Run{{/notRunCount}}{{#skippedCount}}, {{skippedCount}} Skipped{{/skippedCount}}