<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>

    {{> header}}
</head>
<body>
    <div class="container">
        {{>title}}

        <div class="clearfix"></div>

        {{#viewChildren}}
            {{>suite}}
        {{/viewChildren}}
    </div>
</body>
</html>