{{#categories}}
    <div class="wrapper category closed">
        <h2 class="{{#failed}}red{{/failed}}{{^failed}}green{{/failed}}">
            <a href="#">
                <span class="glyphicon {{#failed}}glyphicon-remove red{{/failed}}{{^failed}}glyphicon-ok green{{/failed}}"></span>{{name}}
                <div class="time-taken">{{runTimeFormatted}}</div>
            </a>
        </h2>
        <p class="summary">
            {{#implementation}}<span class="imp-error">{{implementation}} Test Implementation Problem(s), </span>{{/implementation}}
            {{passed}} Passed, {{failed}} Failed{{#skippedTests}}, {{skippedTests}} Not Run{{/skippedTests}}
        </p>

        <div class="content">
            {{#groups}}
                <div class="wrapper group closed">
                    <h2 class="{{#failed}}red{{/failed}}{{^failed}}green{{/failed}}">
                        <a href="#">
                            <span class="glyphicon {{#failed}}glyphicon-remove red{{/failed}}{{^failed}}glyphicon-ok green{{/failed}}"></span>{{name}}
                            <div class="time-taken">{{runTimeFormatted}}</div>
                        </a>
                    </h2>

                    <p class="summary">
                        {{#implementation}}<span class="imp-error">{{implementation}} Test Implementation Problem(s), </span>{{/implementation}}
                        {{passed}} Passed, {{failed}} Failed{{#skippedTests}}, {{skippedTests}} Not Run{{/skippedTests}}
                    </p>

                    <div class="content">
                        <h3>Tests</h3>

                        {{#tests}}
                            <div class="wrapper test closed">
                                <h2 class="{{#failed}}red{{/failed}}{{^failed}}green{{/failed}}">
                                    <a href="#">
                                        <span class="glyphicon {{#failed}}glyphicon-remove red{{/failed}}{{^failed}}glyphicon-ok green{{/failed}}"></span>{{name}}
                                        {{#implementation}}<span class="imp-error"> - Test Implementation Problem</span>{{/implementation}}

                                        <div class="time-taken">{{runTimeFormatted}}</div>
                                    </a>
                                </h2>
                                <div class="content">
                                    <pre>{{#debugLines}}{{{.}}}<br />{{/debugLines}}{{^debugLines}}No output logged{{/debugLines}}</pre>
                                </div>
                            </div>
                        {{/tests}}
                    </div>
                </div>
            {{/groups}}
        </div>
    </div>
{{/categories}}