{{#isSpec}}
    <div class="spec wrapper closed" id="{{id}}">
        <h2 class="{{colorClass}}">
            <a href="#">
                <span class="glyphicon {{iconClass}}"></span>Test: {{&description}}
                {{#notRunCount}}(Not Run){{/notRunCount}}
                {{#skippedCount}}(Skipped){{/skippedCount}}
                {{#implementationErrorCount}}<span class="imp-error">(Test Implementation Problem)</span>{{/implementationErrorCount}}

                <div class="time-taken{{#durationWarning}} red{{/durationWarning}}">{{#durationWarning}}* {{/durationWarning}}{{durationFormatted}}</div>
            </a>
        </h2>
        <div class="content">
            <pre>{{#debugData}}{{{.}}}<br />{{/debugData}}{{^debugData}}No output logged{{/debugData}}</pre>
        </div>
    </div>
{{/isSpec}}


{{^isSpec}}
    <div class="suite wrapper closed level-{{level}}" id="{{id}}">
        <h2 class="{{colorClass}}">
            <a href="#">
                <span class="glyphicon {{iconClass}}"></span>Suite: {{&description}}
                <div class="time-taken{{#durationWarning}} red{{/durationWarning}}">{{#durationWarning}}* {{/durationWarning}}{{durationFormatted}}</div>
            </a>
        </h2>
        <p class="summary">
            {{>summary}}
        </p>

        <div class="content">
            {{#viewChildren}}
                {{>suite}}
            {{/viewChildren}}
        </div>
    </div>
{{/isSpec}}