<div class="main-title">
    <h2>{{title}}</h2>
    <p class="summary">
        {{>summary}}
        <table>
            <tr>
                <td>Run Time:</td>
                <td>{{tree.durationFormatted}}</td>
            </tr>
            <tr>
                <td>Start Time:</td>
                <td>{{tree.startTimeFormatted}}</td>
            </tr>
            <tr>
                <td>End Time:</td>
                <td>{{tree.endTimeFormatted}}</td>
            </tr>
        </table>
    </p>
</div>