<div class="main-title">
    <h2>{{title}}</h2>
    <p class="summary">
        {{#implementation}}<span class="imp-error">{{implementation}} Test Implementation Problem(s), </span>{{/implementation}}
        {{passed}} Passed, {{failed}} Failed{{#skippedTests}}, {{skippedTests}} Not Run{{/skippedTests}}
    </p>
    {{{runTimeFormatted}}}
</div>